You should take care to ensure that all business records and communications (including email, texts, Facebook Messages, and instant messages) are clear and accurate. Please remember that your business communications may be shared or become public through litigation, government investigation, or publication in the media. Potential risks from inaccurate or misleading statements include claims of false advertising, misrepresentation, breach of contract, securities fraud, unfair disclosure, and antitrust violations.

You must consult with the Communications Department and your department director before making formal statements or providing information about Facebook, our products, or our business and fellow Facebook Personnel to journalists, bloggers and industry analysts through any public forum (such as a tradeshow or conference or your Facebook profile). Please refer to our Public Speaking Policy on the wiki.

You may not give an endorsement or other statement on behalf of Facebook or personal endorsement that identifies your affiliation with Facebook, except when approved by the Communications Department or Legal Department. In addition, you may not discuss Facebook’s business, including financial condition, business or financial performance, products, or business prospects with financial analysts or actual or potential investors without the prior approval of the Investor Relations Department. All requests for a representative of Facebook to participate in a financial conference (including speaking on a panel, or attending a dinner or any event that targets the financial community) must be referred to Investor Relations for review and managing. If any such analysts or investors contact you, please refer such inquiries to investor@fb.com or contact our Investor Relations team.
